<!-- include head and header files -->
<%- include('../includes/head', {pageTitle: 'Signup'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <form action="/login" method="POST">
            <h1>Login</h1>
            <div class="form-element">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="email" required>
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="form-element">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" minlength="5" required >
                <i class="fa-solid fa-lock"></i>
            </div>
            <p class="switch-to-login"><a href="/signup">Create Account</a></p>
            <button class="btn">Login</button>
        </form>
    </main>
<%- include('../includes/footer') %>