<!-- include head and header files -->
<%- include('../../shared-views/includes/head', {pageTitle: 'My Orders'}) %>
</head>
<body>
    <%- include('../../shared-views/includes/header') %>
    <main>
        <h1>My Orders</h1>
    </main>
<%- include('../../shared-views/includes/footer') %>