<!-- include head and header files -->
<%- include('../../shared-views/includes/head', {pageTitle: 'Success!'}) %>
</head>
<body>
    <%- include('../../shared-views/includes/header') %>
    <main>
        <h1>Order Success!</h1>
        <p>View your <a href="/orders">orders</a> here</p>
    </main>
<%- include('../../shared-views/includes/footer') %>