main h1 {
  text-align: center;
}

main a:hover {
  color: var(--secondary-text-2);
  text-decoration: underline;
}

#products-grid {
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.product-item {
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  overflow: hidden;
}

.product-item img {
  border-radius: 0.25em;
  width: 100%;
  height: 10em;
  object-fit: cover;
}

#product-details h1 {
  margin: 0.25em;
}

#product-details img {
  border-radius: 0.25em;
  width: 80%;
  height: 22.5em;
  object-fit: cover;
}

#product-info {
  text-align: center;
}

#product-info p {
  margin: 0.25em;
}

#product-details .product-desc {
  text-align: center;
  white-space: pre-wrap;
}

#product-details header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Larger screens */
@media (min-width: 40em) {
  main h1 {
    text-align: center;
    margin: 0.5em auto;
  }

  main h2 {
    margin: 0.1em;
  }

  #products-grid {
    margin: 1em 2.5em;
  }

  #product-details img {
    width: 30%;
    height: 25em;
  }

  .product-item img {
    width: 100%;
    height: 25em;
  }
}
