/* base styling for all webpages */

* {
  box-sizing: border-box;
}

:root {
  /* Css Variables */
  --secondary-bg: #ffffff;
  --primary-text: #000000;
  --secondary-text: #f08e7f;
  --secondary-text-2: #f27360;
  --secondary-hover-color: #dc8375;
  --primary-bg: #fdeee3;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  margin: 0;
}

/* main {

} */

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--secondary-text-2);
}

a:hover {
  color: var(--secondary-hover-color);
}

.btn {
  font: inherit;
  cursor: pointer;
  background-color: var(--secondary-text);
  color: var(--secondary-bg);
  border: none;
  border-radius: 0.25em;
}

.btn:hover,
.btn:active {
    background-color: var(--secondary-hover-color);
}

.badge {
  margin-left: 0.25em;
  padding: 0.02em 0.35em;
  border-radius: 1.5em;
  color: var(--secondary-text);
  background-color: var(--primary-bg);
}