<!-- include head and header files -->
<%- include('../../shared-views/includes/head', {pageTitle: 'Catalogue'}) %>
</head>
<body>
    <%- include('../../shared-views/includes/header') %>
    <main>
        <h1>Catalogue</h1>
    </main>
<%- include('../../shared-views/includes/footer') %>