<!-- include head and header files -->
<%- include('../../shared-views/includes/head', {pageTitle: 'My Products'}) %>
</head>
<body>
    <%- include('../../shared-views/includes/header') %>
    <main>
        <h1>My Products</h1>
        <p><a href="products/new-product">Add new product</a></p>
    </main>
<%- include('../../shared-views/includes/footer') %>