<!-- include head and header files -->
<%- include('../../shared-views/includes/head', {pageTitle: 'Edit Product'}) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
    <%- include('../../shared-views/includes/header') %>
    <main>
        <h1>Edit Product</h1>
        <%- include('../../shared-views/includes/product-form', {submitPath: 'admin/products/' + product.id, product: product}) %>
    </main>
<%- include('../../shared-views/includes/footer') %>