<!-- include head and header files -->
<%- include('../../shared-views/includes/head', {pageTitle: 'Add Product'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <%- include('../../shared-views/includes/header') %>
    <main>
        <h1>Add New Product</h1>
        <%- include('../../shared-views/includes/product-form', {submitPath: 'new-product', product: {
            title: '',
            summary: '',
            price: '',
            description: ''
        },
        imageNeeded: true }) %>
    </main>
<%- include('../../shared-views/includes/footer') %>