<header id="base-header">
  <div id="logo"><a href="/">Monty's</a></div>
  <nav>
    <%- include('nav-elements') %>
  </nav>
  <!-- Add responsive element -->
  <button id="mobile-nav-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<section id="mobile-nav-menu">
  <nav>
    <%- include('nav-elements') %>
  </nav>
</section>
