<!-- include head and header files -->
<%- include('includes/head', {pageTitle: '404 Error'}) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Could not find resource</h1>
        <p>Unfortunately, we could not find the requested resource</p>
        <p><a class="btn" href="/">Back to Home</a></p>
    </main>
<%- include('includes/footer') %></body>